.billing__form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 60%;
  margin: auto;
}

.billing__form--control { width: 100%; }

.billing__form--control .billing__form--title { 
  font-weight: 600; 
  font-size: 2rem;
}

.billing__form--label {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 2rem 0;
}

.billing__form--input,
.billing__form--select {
  width: 100%;
  border: 1px solid #0d0d57c0;
  padding: 2rem;
  outline: none;
  border-radius: 10px;
  font-size: 1.8rem;
  background: transparent;
  color: #333;
}

.billing__form--select {
  color: rgba(0, 0, 0, 0.6);
  cursor: pointer;
}

.billing__form--flex { 
  display: flex; 
  width: 100%;
}

.card__info {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 90%;
  margin-left: 10%;
}

.card__info .billing__form--control {
  width: 90%;
  margin-left: 10%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.placeholder-bold::placeholder { 
  color: #000; 
  font-weight: 600;
}

.card__info .billing__form--title { text-align: center; }

.billing__link--controls { width: 100%; }

  
/*                                      Media Queries                       */

@media only screen and (max-width: 1200px) {

  .card__info {
    width: 100%;
  }

  .card__info .billing__form--title { font-size: 1.7rem; }

}


@media only screen and (max-width: 768px) {

  .billing__form { width: 85%; }

}

@media only screen and (max-width: 500px) {

  .billing__form--flex {
    flex-direction: column;
    width: 100%;
  }

  .card__info {
    display: flex;
    flex-direction: column;
    justify-content: unset;
    align-items: unset;
    width: 100%;
    margin-left: 0;
  }

  .card__info .billing__form--control {
    width: 100%;
    margin-left: 0;
    display: flex;
    flex-direction: column;
    align-items: unset;
  }

  .card__info .billing__form--title { text-align: inherit; }
  
}