.finish-payment {
  height: 100vh;
  display: flex;
  justify-content: center;
  overflow-y: auto;
}

.finish-payment__container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 55%;
  background-color: #fff;
  border-radius: 20px;
  margin: auto;
  box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, .1);
  overflow-y: auto;
  padding: 5rem 0;
}

.check-container {
  background-color: #fff;
  box-shadow: 0 1rem 1.2rem rgba(0, 0, 0, .07);
  border-radius: 100%;
  padding: 2rem;
  margin: 2rem 0 .2rem;
}

.check { 
  width: 40px; 
  height: 40px;
}

.finish-payment__prompt { width: 70%; }

.finish-payment__prompt--heading { 
  color: #35358abe;
  font-size: 4.5rem;
  margin: .4rem 0 2rem;
}

.finish-payment__prompt--subheading { 
  color: #4e4e4e; 
  font-size: 2.2rem;
  margin-bottom: 1.3rem;
}

.finish-payment__link {
  color: #eebc3e;
  font-size: 2.2rem;
  border-bottom: 2px solid #d48d22;
  margin: 5rem 0;
  display: inline-block;
}


/*                                      Media Queries                       */

@media only screen and (max-width: 768px) {

  .finish-payment__container { width: 80%; }

}

@media only screen and (max-width: 500px) {

  .finish-payment__container { 
    width: 90%; 
    padding: 2.5rem 0;
  }

  .check-container { margin: 0 0 .2rem; }

  .finish-payment__prompt { width: 85%; }

}

@media only screen and (max-width: 375px) {

  .finish-payment__container {width: 95%;}

  .finish-payment__link { margin: 2.5rem 0; }

  .check { 
    width: 35px; 
    height: 35px;
  }

  .finish-payment__prompt--heading { font-size: 4rem; }

}
  